<div class="mt-3">
  <h2>現役大学生による、参考書のレビューサイト。</h2>
</div>

<div class="mt-3">
  <p>
    人気の参考書は調べればすぐに分かるけれど、その中から自分に合った参考書が選べない...<br>
    自分と志望校や学力、部活の忙しさなどが同じだった先輩たちのレビューを見て、自分に合った参考書を見つけよう！
  </p>
</div>

<%= render 'layouts/top_panel', user: "受験生",
           sign_up_path: examinees_sign_up_path, sign_in_path: examinees_sign_in_path,
           head: "現役大学生のレビューを見て、自分に合った参考書を見つけたい。" ,
           foot: "お気に入りの参考書やレビューをマイリストに登録することができます。" %>

<%= render 'layouts/top_panel', user: "大学生",
           sign_up_path: university_students_sign_up_path, sign_in_path: university_students_sign_in_path,
           head: "頑張る受験生のために、志望校合格の手助けがしたい。" ,
           foot: "受験生のために参考書のレビューを投稿することができます。" %>

<div class="mt-4 ms-1">
  <%= link_to 'ログインせずに利用する', subjects_path %><br>
  (一部の機能を利用することができません。)
</div>
