<div class="mt-3">
  <h2>Reviewsa</h2>
</div>

<div class="mt-4">
  <p>現役大学生による参考書のレビューを見ることができるサイトです。</p>
</div>

<div class="card border-dark mt-4" style="max-width: 10rem;">
  <%= link_to university_students_sign_up_path, class: "text-decoration-none text-dark" do %>
    <div align="center">大学生ユーザ登録</div>
  <% end %>
</div>

<div class="card border-dark mt-4" style="max-width: 10rem;">
  <%= link_to university_students_sign_in_path, class: "text-decoration-none text-dark" do %>
    <div align="center">大学生ログイン</div>
  <% end %>
</div>

<div class="card border-dark mt-4" style="max-width: 10rem;">
  <%= link_to examinees_sign_up_path, class: "text-decoration-none text-dark" do %>
    <div align="center">受験生ユーザ登録</div>
  <% end %>
</div>

<div class="card border-dark mt-4" style="max-width: 10rem;">
  <%= link_to examinees_sign_in_path, class: "text-decoration-none text-dark" do %>
    <div align="center">受験生ログイン</div>
  <% end %>
</div>
