<div class="mt-3">
  <h2>マイリスト</h2>
</div>

<h4 class="mt-4">お気に入りのレビュー</h4>

<% if @favorite.present? %>
  <% @favorite.each do |f| %>
    <%= render 'layouts/review_whose', r: f.review %>
  <% end %>

<% else %>
  お気に入りのレビューはありません。
<% end %>

<div class="mt-4">
  <%= paginate @favorite %>
</div>

<div class="mt-3">
  <%= link_to 'お気に入りの参考書を見る', favorite_books_list_path(id:@examinee.id) %>
</div>
