<div style="margin-top: 100px;">
  <div class="d-flex justify-content-center container" style="position: fixed; left: 50%; bottom: 0;
    transform: translateX(-50%); -webkit-transform: translateX(-50%); background-color: white;">
    <%= render 'layouts/footer_panel', link: subjects_path, image: "search.png", alt: "検索" %>

    <% if university_student_signed_in? %>
      <%= render 'layouts/footer_panel', link: books_path, image: "post.png", alt: "投稿" %>
      <%= render 'layouts/footer_panel', link: univ_my_page_path(id:@univ_student.id), image: "mypage.png", alt: "マイページ" %>

    <% elsif examinee_signed_in? %>
      <%= render 'layouts/footer_panel', link: favorite_books_list_path(id:@examinee.id), image: "favorite.png", alt: "マイリスト" %>
    <% end %>
  </div>
</div>
