<div class="d-flex justify-content-center mt-2">
  <div class="card border-secondary rounded-0" style="width: 100%;">
    <%= link_to subjects_path, class: "text-decoration-none text-dark" do %>
      <div class="card-body">
        <p class="card-text" align="center">検索</p>
      </div>
    <% end %>
  </div>

  <% if university_student_signed_in? %>
    <div class="card border-secondary rounded-0" style="width: 100%;">
      <%= link_to books_path, class: "text-decoration-none text-dark" do %>
        <div class="card-body">
          <p class="card-text" align="center">投稿</p>
        </div>
      <% end %>
    </div>

    <div class="card border-secondary rounded-0" style="width: 100%;">
      <%= link_to univ_my_page_path(id:current_university_student.id), class: "text-decoration-none text-dark" do %>
        <div class="card-body">
          <p class="card-text" align="center">マイページ</p>
        </div>
      <% end %>
    </div>

  <% elsif examinee_signed_in? %>
    <div class="card border-secondary rounded-0" style="width: 100%;">
      <%= link_to subjects_path, class: "text-decoration-none text-dark" do %>
        <div class="card-body">
          <p class="card-text" align="center">お気に入り</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
