<div style="margin-top: 100px;">
  <div class="border-top border-secondary border-2 container" style="position: fixed; left: 50%; bottom: 0;
    transform: translateX(-50%); -webkit-transform: translateX(-50%); background-color: white;">
    <p class="mt-1" align="center">現役大学生による、参考書のレビューサイト。&nbsp;Reviewsa&nbsp;-レビューサ</p>
  </div>
</div>
